{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": "> 0.25%, not dead",
                "debug": false
            }
        ],
        ["@babel/preset-react", {"runtime": "automatic"}]
    ],
    "plugins": [
        ["babel-plugin-module-resolver",
            {
                "alias": {
                    "@app": "./src/app",
                    "@app.index": "./src/app/index.mjs",
                    "@services": "./src/app/services",
                    "@styles": "./src/styles"
                }
            }
        ]
    ]
}
