{
    "tabWidth": 4,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": [".prettierrc", ".babelrc"],
            "options": { "parser": "json" }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.cjs",
    "tailwindFunctions": ["tw"]
}
